[package]
name = "alfred-pinboard-rs"
version = "0.14.11"
authors = [ "Hamid Ghadyani <hamid@hamid.cc>",]

[dependencies]
alfred = "4.0.1"
alfred-rs = "0.4"
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"
structopt = "0.2"
semver = "0.9"
failure = "0.1.5"
dirs = "1.0"
if_chain = "0.1.3"
log = "0.4"
env_logger = "0.6"

[features]

[dependencies.rusty-pin]
git = "https://github.com/spamwax/rusty-pin"
branch = "master"

[dependencies.chrono]
version = "0.4"
features = [ "serde",]
